mainHeight = 18000px
colorBlue = #0b4a80

body
    font-family: "微软雅黑";
    // background: #f7f7f7;
    color: #333;
    min-width 1200px
    padding: 0
    margin: 0

.clearfix
    &:after
        content: ''
        clear both
        width: 100%
        height 0
        overflow hidden
        display: inline-block

.btn
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fafbfc;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    // &-upload
        // width: 200px
        // color: #cb2431;
.btn-primary
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);

.upload-box
    text-align: center
    padding: 20px
    border-top: 1px #cccccc solid
    // width: 80%
    margin: 0 auto

.is-mask
    .heb
        &-box
            background-color: rgba(#000000, 0.3)

.add-mask
    position: fixed
    right: 0
    bottom: 0
    z-index: 999

.add-herf
    cursor pointer
    &:hover
        border: 1px red solid

.heb
    &-bg-iframe
        width: 100%
        height mainHeight
        margin: 0 auto
        position: absolute
        left: 50%
        top: 0

    &-box
        position: absolute
        z-index: 999
        margin: 0 auto
        top: 0
        left 0
        width: 100%
        height mainHeight
        // background-color: rgba(#000000, 0.1)

    &-box-in
        position: absolute
        margin: 0 auto
        width: 1200px
        top: 210px
        left: 50%
        margin-left: -(@width / 2)
        // height 300px
        // background-color: rgba(#000000, 0.3)

    &-main-box
        width: 951px
        padding: 0 49px
        position: absolute
        right 0
        top: 0
        // background-color: rgba(#000000, 0.3)
        // height 400px

    &-main
        background-color: #ffffff //rgba(#ffffff, 0.6)
        height 5503px

        .title-box
            font-size: 32px
            font-weight: 700
            line-height: 45px
            padding-bottom: 30px
            text-align: center
            display: flex
            justify-content: center
            flex-wrap: wrap
            cursor: default
        .i
            // font-size: 32px
            // font-weight: 700
            // line-height: 45px
            // text-align: center
            // background: none
            // border: none
            outline: none
            // margin: 0
            // padding: 0
            // padding: 0 3px
            text-align: left
            cursor: text

            &:hover
                border-bottom: 1px solid colorBlue
                color: colorBlue

        .title
        .i
        .year
        .month
        .day
        .stage
        .add-title
            display: flex
            justify-content: center

        .add-title
            min-width: 0.5em
            text-align: left
            // &:hover
            //     border-bottom: 1px solid colorBlue
            //     color: colorBlue
    &-pic
        p
            margin: 0
.bb
    border-bottom: colorBlue 5px solid
