body {
  background-color: #ccc;
  color: #333;
  min-width: 1200px;
  padding: 0;
  margin: 0;
}
.ie body {
  font-family: "微软雅黑";
}
.clearfix:after {
  content: '';
  clear: both;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: inline-block;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fafbfc;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}
a {
  color: #fff;
}
.hide,
.heb-hide {
  display: none;
}
.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
.upload-box {
  text-align: center;
  padding: 20px;
  border-top: 1px #ccc solid;
  margin: 0 auto;
}
.is-mask .heb-box {
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 10px 60px rgba(0,0,0,0.2);
}
.add-mask,
.copy-btn,
.clear-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.copy-btn {
  margin-bottom: 40px;
}
.clear-btn {
  top: 0;
  bottom: auto;
  width: auto;
}
.is-dev .clear-btn {
  display: block;
}
.add-href-input,
.add-href-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.add-href-text,
.add-href-base {
  min-width: 90%;
  position: absolute;
  z-index: 12;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  cursor: auto;
  font-weight: 400;
  display: block;
}
.add-href-base {
  min-width: 80%;
  display: inline-block;
  color: #fff;
  z-index: 12;
  padding: 6px 0;
  font-size: 16px;
  line-height: 20px;
}
.add-href-text2 {
  min-width: 10%;
  display: inline-block;
  margin-left: 72px;
  padding-left: 2px;
  z-index: 13;
}
.add-href-btn {
  z-index: 11;
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
  border: #0b4a80 1px solid;
}
.heb-bg-iframe {
  width: 100%;
  height: 18000px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 0;
}
.heb-box {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 18000px;
}
.heb-box-in {
  position: absolute;
  margin: 0 auto;
  width: 1200px;
  top: 210px;
  left: 50%;
  margin-left: -600px;
}
.heb-main-box {
  width: 951px;
  padding: 0 49px;
  position: absolute;
  right: 0;
  top: 0;
}
.heb-main {
  background-color: #fff;
  padding-bottom: 80px;
}
.heb-main .title-box {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: default;
}
.heb-main .i {
  outline: none;
  text-align: left;
  cursor: text;
}
.heb-main .i:hover {
  border-bottom: 1px solid #ffa500;
  color: #ffa500;
}
.heb-main .title,
.heb-main .i,
.heb-main .year,
.heb-main .month,
.heb-main .day,
.heb-main .stage,
.heb-main .add-title {
  display: flex;
  justify-content: center;
}
.heb-main .add-title {
  min-width: 0.5em;
  text-align: left;
}
.heb-pic p {
  margin: 0;
  position: relative;
}
.heb-tips {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  padding: 40px;
  clear: both;
  z-index: 999;
  color: #f00;
  border-color: #f00;
}
.heb-main-tips,
.heb-alert-tips {
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  background-color: #fafbfc;
  width: 52%;
  margin: 30px auto 0;
  font-size: 14px;
  line-height: 24px;
  padding: 20px 40px 30px;
}
.heb-main-tips code,
.heb-alert-tips code {
  background-color: #f0f0f0;
  padding: 0 4px;
  line-height: 20px;
  border-radius: 2px;
  color: #ffa500;
  display: inline-flex;
}
.heb-main-tips a,
.heb-alert-tips a {
  color: #add8e6;
}
.heb-alert-tips {
  padding: 20px 40px;
  margin-bottom: 20px;
  color: #f00;
  border-color: #f00;
}
.heb-print-tips {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heb-print-tips li {
  width: 46%;
  padding: 0;
  margin: 6px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.heb-print-tips a {
  color: #ffa500;
}
.heb-print-tips a:hover {
  color: #00f;
}
.heb-print-tips a img {
  border: 1px solid rgba(27,31,35,0.2);
}
.heb-print-tips a img:hover {
  border-color: #ffa500;
  box-shadow: 0 3px 20px rgba(27,31,35,0.2);
}
.upload-box2 {
  text-align: left;
  width: 100%;
  margin: 0 auto;
}
.heb-textarea {
  display: none;
  margin: 0 auto;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  background-color: #fafbfc;
  width: 80%;
  min-height: 800px;
  margin: 30px auto 0;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
}
.is-dev .heb-textarea {
  width: 260px;
  height: 500px;
  min-height: 500px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 99;
}
.is-dev .heb-box-in {
  right: 0;
}
.is-dev .heb-main-box {
  width: 951px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 42px;
}
.heb-picHideDom {
  display: none;
}
