doctype html
html
    head
        meta(charset="utf-8")

        title HEB

        script(src='bundle/browser.min.js')
        link(rel='stylesheet', href='bundle/index.css')

    body

        .heb-box
            .heb-box-in
                .heb-main-box
                    .heb-main
                        .title-box
                            .title 《今日雄安》
                            .year
                                .i(contenteditable="true") 2018
                                | 年
                            .month
                                .i(contenteditable="true") 12
                                | 月
                            .day
                                .i(contenteditable="true") 18
                                | 日
                            .stage
                                | 第
                                .i(contenteditable="true") 22
                                | 期
                            .i(contenteditable="true").add-title
                        
                        hr
                        
                        form(action='/upload', method='post', enctype='multipart/form-data')
                            h2 多图上传
                            input(type='file', name='pic')
                            input(type='file', name='pic')
                            input(type='submit', value='提交')




        //- iframe(src="http://www.xiongan.gov.cn/2018-04/16/c_129851439.htm", frameborder="0").heb-bg-iframe
        
        script(src='bundle/jquery.min.js')
        //- script(src='bundle/helper-grabber-loader.js')
        script(src='bundle/index.js')