doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title HEB


        script(src='http://www.xiongan.gov.cn/bundle/jq.js')
        script(src='http://www.xiongan.gov.cn/bundle/browser.min.js')
        link(rel='stylesheet', href='bundle/index.css')

    body

        .heb-box
            .heb-box-in
                .main-box
                    .main main


        iframe(src="http://www.xiongan.gov.cn/2018-04/16/c_129851439.htm", frameborder="0").bg-iframe

        //- script(src='bundle/helper-grabber-loader.js')
        script(src='bundle/index.js')