body {
  font-family: "微软雅黑";
  color: #333;
  min-width: 1200px;
  padding: 0;
  margin: 0;
}
.heb-bg-iframe {
  width: 100%;
  height: 18000px;
  margin: 0 auto;
}
.heb-box {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
}
.heb-box-in {
  position: absolute;
  margin: 0 auto;
  width: 1200px;
  top: 210px;
  left: 50%;
  margin-left: -600px;
}
.heb-main-box {
  width: 951px;
  padding: 0 49px;
  position: absolute;
  right: 0;
  top: 0;
}
.heb-main {
  background-color: rgba(255,255,255,0.6);
}
.heb-main .title-box {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: default;
}
.heb-main .i {
  outline: none;
  text-align: left;
  cursor: text;
}
.heb-main .i:hover {
  border-bottom: 1px solid #0b4a80;
  color: #0b4a80;
}
.heb-main .title,
.heb-main .i,
.heb-main .year,
.heb-main .month,
.heb-main .day,
.heb-main .stage,
.heb-main .add-title {
  display: flex;
  justify-content: center;
}
.heb-main .add-title {
  min-width: 0.5em;
  text-align: left;
}
.bb {
  border-bottom: #0b4a80 5px solid;
}
